.page-landing {
  background-color: white;
  padding-bottom: 0px;
  margin: 0px 20px 0px 20px;
  padding: 20px;
  box-shadow: 0px 2px 2px rgba(0,0,0,0.15);
  max-width:600px;

  p:last-child {
    margin-bottom: 0px;
  }
}

.site-header {
  box-shadow: 0px 0px 1px rgba(0,0,0,0.2);
}

html, body {
  height: 100%;
  background-color: #efefef;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

hr {
  color: rgba(100,100,100,0.3);
  margin-bottom: 30px;
  margin-top: 40px;
  width: 90%;
}

.site-footer {
  background-color: rgb(40,40,40);
  padding-bottom: 0px;
}

#user-panel {
  width: 70vw;
  min-width: 300px;
  max-width: 700px;
}

#signin {
  padding-left: 40px;
  display: flex;
  position: relative;
  flex-direction: column;
}

.form-submit {
  padding: 10px;
  max-width: 150px;
}

.form-control:hover {
  box-shadow: 0px 0px 1px 1.5px rgba(0,0,0,0.07) inset//rgba(0,0,0,0.2);
}

.about-link:hover {
  text-decoration: none;
}

#item-link, #category-link {
  background-color: rgba(0,0,0,0.03);
  cursor: pointer;
  max-width: 300px;
  height: 150px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: center;
  align-items: center;
  margin: 0px auto 40px auto;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
  p:last-child {
    margin: 0px;
  }
  h3 {
    font-family: "Courier New";
  }
}

#item-link:last-child, #category-link:last-child {
  margin:0px
}
#item-link:hover, #category-link:hover {
  opacity: 0.1;
}

#loader {
    border: 10px solid rgb(40,40,40); /* Dark grey */
    border-top: 10px solid #f41a3f; /* Red */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
