<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {% include footer.html %}


    <script src="{{- site.cookies -}}"></script>
    <script src="{{- site.js_file -}}"></script>
    {%- for path_hash in site.data.js.path -%}
      {%- assign test_url = path_hash[0] | prepend: "/" -%}
      {%- if test_url == page.url -%}
        <script src="{{- site.js_partial -}}{{- path_hash[1] -}}.js"></script>
      {%- endif -%}
    {%- endfor -%}
  </body>

</html>
