---
layout: default
---

<div class="home">

  <h1>ABOA Homepage</h1>

  <div class="page-landing">
    {{ content }}
  </div>

  <hr>

  <h2 class="page-heading">updates</h2>

  <ul class="post-list">
    {% for post in site.posts %}
      <li style="margin-bottom:20px;">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h3>
      </li>
    {% endfor %}
  </ul>

  <style>
    p, hr { margin-bottom:0px; }
  </style>
  <hr style="width:20px; margin-bottom:10px;">
  <p class="rss-subscribe">RSS <a href="{{ "/feed.xml" | relative_url }}">subscribe</a></p>

</div>
